<footer class="site-footer">
    <div class="wrap">
        <div class="foot">
            <div>
                <img class="foot-mark" src="{{base}}images/wix/wix-b8e2795e.png" alt="Woosh Biz" width="1182" height="466">
                <p class="foot-tag">No gyaan. Just fun with learning.</p>
                <div class="socials">
                    <a href="https://www.facebook.com/people/Woosh-Biz-by-HTI/100083456102229/" target="_blank" rel="noopener" title="Facebook"><img src="{{base}}images/wix/wix-ef6a6ac1.png" alt="Facebook" width="201" height="201"></a>
                    <a href="https://www.instagram.com/wooshbiz/" target="_blank" rel="noopener" title="Instagram"><img src="{{base}}images/wix/wix-cef3b719.png" alt="Instagram" width="201" height="201"></a>
                    <a href="https://www.linkedin.com/company/woosh-biz-by-hti/" target="_blank" rel="noopener" title="LinkedIn"><img src="{{base}}images/wix/wix-b5690303.png" alt="LinkedIn" width="201" height="201"></a>
                    <a href="https://www.youtube.com/channel/UC9BdT9tzf4841P1B-R7P-Qg" target="_blank" rel="noopener" title="YouTube"><img src="{{base}}images/wix/wix-fe985b88.png" alt="YouTube" width="201" height="201"></a>
                </div>
            </div>
            <div>
                <h3>Company</h3>
                <a href="{{base}}about.html">About Us</a>
                <a href="{{base}}contact.html">Get In Touch</a>
                <a href="{{base}}contact.html">Free Consultation</a>
                <a href="{{base}}blog.html">Blogs</a>
            </div>
            <div>
                <h3>Programmes</h3>
                <a href="{{base}}high-octane.html">In-Office</a>
                <a href="{{base}}outdoors.html">Outdoors</a>
                <a href="{{base}}resorts.html">Resorts Recommended</a>
            </div>
            <div>
                <h3>Contact</h3>
                <a href="tel:+919210804078">+91 92108 04078</a>
                <a href="mailto:info@wooshbiz.com">info@wooshbiz.com</a>
                <span class="foot-rating">&#11088; 4.5 &middot; 150 ratings</span>
            </div>
        </div>
        <div class="foot-end">&copy; 2026 Woosh Biz by HTI India Pvt Ltd. All rights reserved.</div>
    </div>
</footer>
